$red : #eb1c24;
$grey : #bfbfbf;
$black : #353535;
$font-black : #494949;
$purple : #a32382;
$orange: #ff6000;
$grey : #f4f4f4;

.red {
    background-color: $red;
}

.purple {
    background-color: $purple;
}

.orange {
    background-color: $orange;
}

.text-red {
    color: $red;
}

.text-purple {
    color: $purple;
}

.text-orange {
    color: $orange;
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-family: 'Poppins';
	vertical-align: baseline;
}

.wrapper{
    padding: 3rem 0;
}

.line{
    height: 5px;
    width: 100%;
    background-color: $grey;
    display: flex;
    justify-content: end;

    .red-line{
        background-color: $red;
        height: 100%;
        width: 10%;
    }
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    ul{
        display: flex;

        li{
            list-style: none;
            color: $font-black;
            margin-right: 40px;
            font-weight: 600;
        }
        
        li::before {
            content: "\2022";
            color: red;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -0.5em;
        }
    }

    button{
        font-size: 14px;
    }

    .nav-button{
        display: flex;
    }

    .red-btn{
        background-color: #ffe5e5;
        border : none;
        color: $red;
        font-weight: 700;
        padding: 0.5em 1em;
        border-radius: 1em;
        margin-right: 0.5rem;
    }

    .white-btn{
        background-color: white;
        border : none;
        color: $font-black;
        font-weight: 600;
        padding: 0.5em 1em;
        border-radius: 1em;
        margin-right: 0.5rem;
    }

    .white-btn:hover{
        background-color: $grey;
    }

    .red-btn:hover{
        background-color: #fdd6d6;
    }

    .round-black-button{
        background-color: #242424;
        border : none;
        padding: 0.5em 1em;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        margin-right: 0.5rem;

        img{
            width: 15px;
        }
    }

    .round-red-button{
        background-color: $red;
        border : none;
        padding: 0.5em 1em;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        margin-right: 0.5rem;

        img{
            width: 15px;
        }
    }
}

.content{
    .hero-wrapper{
        width: 100%;
        
        .banner{
            width: 100%;
            position: relative;

            img{
                width: 100%;
            }
            
            .decoration-1{
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
            .decoration-2{
                position: absolute;
                top: 0px;
                left: -3rem;
            }
        }

    }
}

.breadcumb{
    margin: 1rem 0px;
    color: $red;
}

.search-bar{
    background-color: #353535;
    padding: 2rem 3rem;
    border-radius: 1rem;


    .search-wrapper{
        display: flex;
        

        input{
            padding: 1rem;
            border-radius: 0.5rem 0 0 0.5rem;
            border: none;
            width: 100%;
            font-size: 15px;
        }

        select{
            padding: 1rem;
            border: none;
            background-color: #e4e4e4;
            font-size: 15px;
        }

        .button-wrapper{
            padding: 0.5rem;
            background-color: #e4e4e4;

            .search-button{
                padding: 0.7rem 3rem;
                background-color: $red;
                color: white;
                border: none;
                border-radius: 0.5rem;
            }

            .search-button:hover{
                background-color: #eb3f45;
            }
        }
    }
}

.package-wrapper{
    display: grid;
    grid-template-columns : auto auto auto auto auto;
    margin-top: 2rem;
    gap: 1rem;

    .package-item{
        padding: 2rem;
        border-radius: 1rem;
        text-align: center;
        
        // invert image
        img{
            filter: invert(1);
        }

        .package-header{
            margin-top: 0.5rem;
            color: white;
            font-weight: 600;
        }

        .package-content{
            color: white;
            font-size: 11px;
        }

        .package-button{
            border: none;
            background-color: white;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            margin-top: 1.5rem;
        }
    }
}

.brand-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;

    .brand-item{
        padding: 1rem;

        img{
            height: 2rem;
        }
    }
}

.product-section-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .title{
        font-size: 24px;
        font-weight: 700;
        color: $red;

        .sub-title{
            font-weight: 300;
            color: $font-black;
        }
    }

    .product-section-nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            margin: 0px;
            li{
                list-style: none;
                color: $font-black;
                font-weight: 400;
                padding:1.5rem 1rem;
            }

            .active{
                font-weight: 700;
                color: $red;
                border-bottom: 5px solid $red;
            }
        }

        .arrow-nav{

            .arrow-left {
                width: 0; 
                height: 0; 
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent; 
                border-right:5px solid $font-black; 
                margin-left: 2px;
              }

            .arrow-right {
                width: 0; 
                height: 0; 
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent; 
                border-left:5px solid $red; 
                margin-left: 2px;
              }

              button{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid $font-black;
              }

              button:hover{
                border: 1px solid $red;
                background-color: #ffc4c6;
              }

              .active{
                border-color: $red;
            }
        }
    }

    .product-section-filter{
        select {
            padding: 0.5rem 2rem;
            border: none;
            background-color: white;
            border: 1px solid #d6d6d6;
            font-size: 15px;
            width: 250px;
            border-radius: 5px;
            position: relative;
            box-shadow: 1px 1px 5px #d6d6d6;
        }

    }

}

.product-wrapper{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 0.7rem;

    .product-item{
        border-radius: 0.5rem;
        box-shadow: 1px 5px 5px #d6d6d6;
        margin-bottom: 2rem;
        position: relative;

        .label{
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 4px;
            background-color: $red;
            color: white;
            font-size: 10px;
            font-weight: 600;
        }
        
        img{
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        .product-info{
            padding: 1rem;
            
            .title{
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .price{
                font-size: 14px;
                font-weight: bold;
                color: #1d8f25;
            }

            .address{
                font-size: 10px;
                display: flex;
                align-items: center;

                span{
                    display: flex;
                    align-items: center;
                    margin: 7px 3px 7px 0;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .rate{
                font-size: 13px;
                color: $font-black;
                font-weight: 600;

                display: flex;
                align-items: center;

                span{
                    display: flex;
                    align-items: center;
                    margin: 7px 3px 7px 0;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .sales{
                font-size: 11px;
                text-align: right;

                span{
                    color: $red;
                    font-weight: 700;
                }
            }
        }
    }
}

.spacer{
    height: 0.5px;
    background-color: #d6d6d6;
}

.banner-wrapper-2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin-bottom: 3rem;

    img{
        box-shadow: 10px 10px 20px #d1d1d1;
    }
}

.banner-wrapper-3{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin-top: 2rem;

    img{
        width: 100%;
        object-fit: cover;
    }

    .banner-item{
        position: relative;

        .read-more{
        
            display : flex;
            align-items: center;
            position: absolute;
            bottom: 1rem;
            left : 1rem;
            color: $red;
    
            span{
                display: flex;
                align-items: center;
                margin: 7px 3px 7px 0;
                img{
                    width: 15px;
                    height: 15px;
                }
            }
            a{
                color : $red;
                text-decoration: none;
            }
        }
    }

}

.category-list{
    background-color: $grey;
    padding: 5rem 0;
    .category-wrapper{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        gap: 1rem;

        .category-item{
            background-color: white;
            padding: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            box-shadow: 1px 5px 5px #d6d6d6;

            .image-wrapper{
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;

                img{
                    width: 100%;
                }
            }

            .category-title{
                font-size: 16px;
                font-weight: 700;
                margin-top: 10px;
                color: $font-black;
            }
        } 
    }
}

footer{
    width: 100%;
    background-color: #272727;

    .footer-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 5rem 0;

        .footer-menu{
            max-width: 35%;
            font-size: 13px;

            .title{
                font-size : 15px;
                font-weight: 700;
                margin-bottom: 1.5rem;
            }

            a{
                display: block;
                color: white;
                text-decoration: none;
                margin: 0.5rem 0;
            }

            
            form{
                margin-bottom: 2rem;
            }
        }
    }
}

.email-wrapper{
    background-color: #555555;
    display: flex;
    padding: 0.5rem 1rem;

    input{
        width: 100%;
        background-color: #555555;
        border: none;
        padding:0.5rem;
        color: white;
    }

    button{
        border: none;
        background-color: #ff0000;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
}